
<div class="jumbotron center">
<h1 id="head">Grabd</h1>
    <p>
    <%= link_to "Log in","#", class: "btn btn-info btn-default"%>
    <%= link_to "Sign Up","#", class: "btn btn-info btn-default"%>
    </p>
</div>